In [17]:
import numpy as np
import pandas as pd

## pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

#### DataFrame Parameters:
+ **data**: ndarray (structured or homogeneous), Iterable, dict, or DataFrame
>Dict can contain Series, arrays, constants, dataclass or list-like objects. If data is a dict, column order follows insertion-order. If a dict contains Series which have an index defined, it is aligned by its index.
+ **index**: Index or array-like
>Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided.
+ **columns**: Index or array-like
>Column labels to use for resulting frame when data does not have them, defaulting to RangeIndex(0, 1, 2, â€¦, n). If data contains column labels, will perform column selection instead.
+ **dtyped**: type, default None
>Data type to force. Only a single dtype is allowed. If None, infer.
+ **copy**: bool or None, default None
>Copy data from inputs. For dict data, the default of None behaves like `copy=True`. For DataFrame or 2d ndarray input, the default of None behaves like `copy=False`. If data is a dict containing one or more Series (possibly of different dtypes), `copy=False` will ensure that these inputs are not copied.

In [3]:
# Create data frame with a defined dictionary
pd.DataFrame(
    data={
        "animal": ["tiger", "dog", "cat"],
        "weight": [90, 40, 29]
    }
)

  animal  weight
0  tiger      90
1    dog      40
2    cat      29

In [4]:
# Create data frame were an iterable is use for the weight column
pd.DataFrame(
    data={
        "animal": ["tiger", "dog", "cat"],
        "weight": range(20, 61, 20)
    }
)

  animal  weight
0  tiger      20
1    dog      40
2    cat      60

In [5]:
# Create a data frame from a `numpy` array
df2 = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), 
    columns=['a', 'b', 'c']
)
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
# dictionary  which has a defined index
pd.DataFrame(
    data={
        "animal": {"wild": "tiger", "domestic": "dog"},
        "weight": {"wild": 90, "domestic": 40}
    }
)

         animal  weight
wild      tiger      90
domestic    dog      40

In [7]:
# Dataframe with index passed as a list
pd.DataFrame(
    data={
        "animal": ["tiger", "dog", "cat"],
        "weight": [90, 40, 29]
    },
    index=["wild", "domesticated", "domesticated"]
)

             animal  weight
wild          tiger      90
domesticated    dog      40
domesticated    cat      29

In [8]:
# Dataframe with index passed as a list
pd.DataFrame(
    data={
        "animal": ["tiger", "dog", "cat"],
        "weight": [90, 40, 29]
    },
    index=range(3, 10, 3)
)
# default uses a range index `range(start=0, stop=len(obj), step=1)`

  animal  weight
3  tiger      90
6    dog      40
9    cat      29

I personally complied some random text data, containing details about animal name and weight.

In [9]:
data = {}
with open("test_data_1.txt") as file:
    data["Animal"] = []
    data["Weight"] = []
    for i in file:
        line = i.strip().replace('"', "").split(",")
        data["Animal"].append(line[0])
        data["Weight"].append(int(line[1]))

In [10]:
data

{'Animal': ['tiger', 'dog', 'cat'], 'Weight': [90, 40, 29]}

In [11]:
# Create a data frame form a cleaned text file.
df1 = pd.DataFrame(data=data)
df1

  Animal  Weight
0  tiger      90
1    dog      40
2    cat      29

## Data Frame Attributes

#### pd.DataFrame.ndim

In [12]:
# return the number of dimension of the data frame
df1.ndim

2

#### pd.DataFrame.dtypes

In [13]:
# return the data type of each column
df1.dtypes

Animal    object
Weight     int64
dtype: object

#### pd.DataFrame.at

In [15]:
# Get value at specified row/column pair
df1.at[1, "Animal"]

'dog'

In [19]:
# Set value at specified row/column pair
df1.at[1, "Weight"] = 50
df1

In [14]:
df1.values

array([['tiger', 90],
       ['dog', 40],
       ['cat', 29]], dtype=object)

#### pd.DataFrame.axes

In [23]:
# return a list representing the axes of the dataframe 
# >>>>>[ row axes label,  column axes label]
df1.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['Animal', 'Weight'], dtype='object')]

#### pd.DataFrame.columns

In [24]:
# column label of the dataframe
df1.columns

Index(['Animal', 'Weight'], dtype='object')

#### pd.DataFrame.empty

In [25]:
#
df1.empty

False